name: ArchiSteamFarm
version: "1.11"
slug: archisteamfarm
description: C# application with primary purpose of farming Steam cards from multiple accounts simultaneously
url: https://github.com/Eskander/ha-addon-archisteamfarm
image: ghcr.io/eskander/ha-addon-archisteamfarm-{arch}
codenotary: mail@eskander.tn
arch:
  - amd64
  - aarch64
  - armv7
init: false
ingress: true
ingress_port: 1242
panel_icon: mdi:steam
ports:
  1242/tcp: null
ports_description:
  1242/tcp: Web interface
map:
  - type: addon_config
    path: /app/config
    read_only: false
  - type: data
    path: /app/logs
    read_only: false
